# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
pnpm-lock.yaml
yarn.lock

# Next.js
.next/
out/
dist/
.next-static/

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test
.env.*
!.env.example

# Logs
logs
*.log
*.log.*
debug.log

# System files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Compiled typescript
*.tsbuildinfo

# Misc
*.swp
Plantilla_Front.zip
